body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
}
h1{
    justify-content: center; color:white;
    text-decoration-style: solid;
    font-family: 'poppins
    text-align: center;
    display: flex;
}
#header{
    margin: 0;
    background-image: url(bg.png); 
    background-repeat: no-repeat;
    background-position: center;
    display: flex
    height:400px;
}
.logo{
    display: inline-block;
    position: absolute;
    left:90px;
  top:35px;
}
.search{
    display: inline-block;
    position: absolute;
    top:40px;
    right: 5%;
}
.search:focus{
    outline: 0;
    background-color: white;
}
.button{
    color: black;
    background-color: hotpink;
    margin-left:700px;
    display: inline-block; 
    margin-bottom: 80px;
    margin-top: 100px;
    padding: 1.2rem; 
    border-radius: 7px;
    
}
.hits{
  margin-left: 170px;
    font-size: 20px;
    margin-top: 30px;
    padding: 7px;
    color: black;
    background-color: white;
    margin-right: 1120px;
}

.button:hover{
    background-color: pink;
    color: black;
}
.footer{
    
    background-color:lightslategray;
    color: white;
    height: 130px;
    width:1450px;
    margin-left: 35px;
}
.footer-bottom{
    text-align: center;
    padding-top: 110px;
}
main{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}
.movie{
    width: 250px;
    margin: 10px 20px 10px 40px;
    border-radius: 3px;
    box-shadow: 0.2px 1px 2px ;
    position: relative;
    overflow: hidden;
      background-color:grey;

}
.movie img{
    width: 100%;
}
.movie-info{
    color: black;
    display: flex;
    background-color:lightpink;
    align-items: center;
    justify-content:space-between;
    padding: inherit;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}
.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.orange{
    color:red;
}

.movie-info span.red{
    color:red;
}
.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: darkgray;
    padding: 0.5rem;
    max-height: 200%;
    transform:translateY(100%);
    transition:transform 0.2s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}
.search{
    background-color:transparent 0.2;
    border: 2px solid white ;
    padding:0.5rem 1rem;
    border-radius: 7px;
    font-size: 1.1rem;
    color:hotpink;
    font-family: inherit;
    display: flex;
}
.search:focus{
    outline:0;
    background-color: lightpink;
}

.search::placeholder{
    color: deeppink;
}


.Titlee{
        position: absolute;
    align-self: center;
    top: 11vw;
    left: 36%;
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

